#game div {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

body {
  background-color: rgb(242, 236, 236);
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  display: inline;
}

#reset:hover{
  color: rgb(237, 12, 12);
}
#reset{
  font-size: 30px;
  color: rgb(79, 5, 5);
}

#reset_div{
  position:fixed; bottom:0;   
}

